:root {
    --main-color: whitesmoke;
    --second-color: red;
    --color-hover: rgba(197, 14, 14, 0.808);
    --font-color: white;
    --text-font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

main {
    /*border-radius: 25px;
    min-width: 70vw;
    max-width: 85vw;
    margin: -1px auto 10px;
    border: 1px solid #ddd;*/
    background-color: #FFF;
    font-family: var(--text-font-family);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: var(--text-font-family);
    color: var(--second-color);
    padding:0px 15px 10px 15px;
}

header {
    color: var(--second-color);
    text-align: center;
}

nav {
    color: var(--font-color);
    background-color: var(--second-color);
    height: 100px;
    width:100%;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-right: 30px;
}

main {
    /*justify-content: left;
    display: inline;
    float: left;*/
    float: left;
    margin: 30px 20px;
    width: 60%;
    min-width: 40vw;
    text-align: justify;
}

nav ul li a{
    text-decoration: none;
    font-family: var(--text-font-family);
    color: var(--font-color);
}

nav ul li a:hover {
    background-color: rgba(201, 42, 42, 0.678);
}

#comment {
    float: left;
    width: 40%;
    border-top: 1px solid var(--second-color);
    border-bottom: 1px solid var(--second-color);
    padding: 40px 10px 40px;
    font-style: italic;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

aside img {
    width: 300px;
    height: 300px;
}

aside, footer{
    font-family: var(--text-font-family);
    color: var(--second-color);
}

footer {
    padding-top: 20px;
    border-radius: 25px;
    clear: both;
    width: inherit;
    margin: 0 auto;
    font-size: 0.75em;
    text-align: center;
}

aside {
    float: right;
    width: 280px;
    margin-top: 30px;
    margin-right: 30px;
}

@media (max-width:900px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }   
    nav {
        height: 170px;
    }
}