:root {
    --main-color: whitesmoke;
    --second-color: red;
    --color-hover: rgba(197, 14, 14, 0.808);
    --font-color: white;
    --text-font-family: Arial, Helvetica, sans-serif;
}

main {
    /*border-radius: 25px;
    min-width: 70vw;
    max-width: 85vw;
    margin: -1px auto 10px;
    border: 1px solid #ddd;*/
    background-color: #FFF;
    font-family: var(--text-font-family);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: var(--text-font-family);
}

header {
    color: var(--second-color);
    text-align: center;
}

fieldset {
    width: 85%;
    border-radius: 25px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:normal;
    margin-bottom: 20px;
    color: var(--second-color);
}

fieldset div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5%;
    width: 90%;
    margin-bottom: 5px;
}

fieldset label {
    width: 25%; 
    align-items: left;
}

fieldset input {
    border-radius: 25px;
    border: 1px solid #ddd;
    width: 100%;
}

button {
    margin-bottom: 5%;
    background-color: var(--second-color);
    color: var(--font-color);
    border: none;
    border-radius: 5px;
    width: 260px;
    height: 30px;
}

button:hover {
    font-weight: bold;
    background-color: var(--color-hover);
}